<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Objects</title>
</head>
<body>
    <h1>Objects</h1>

    <a href="/">Homepage</a><br>

    <form action="/objects" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="file" name="name" id="name">
        <input type="submit" value="Upload">
    </form>

    <table>
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="object : ${objects}">
            <td>[[${object.name}]]</td>
        </tr>
    </table>
</body>
</html>