<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <a href="/">Homepage</a>

    <h1>Register</h1>

    <form action="/register" method="post">
        <label for="nickname">Nickname *</label>
        <input type="text" name="nickname" id="nickname" required>
        <label for="email">Email *</label>
        <input type="email" name="email" id="email" required>
        <label for="password">Password *</label>
        <input type="password" name="password" id="password" required>
        <label for="password2"> Repeat Password*:</label>
        <input type="password2" name="password2" id="password2" required>
        <label for="name">Name*:</label>
        <input type="text" name="name" id="name" required>
        <label for="surnames">Surnames:</label>
        <input type="text" name="surnames" id="surnames">
        <input type="submit" value="Register">

    </form>

</body>
</html>